<% form_for( :comment, :url => article_comments_path(article)) do |f|%>
  <hr>
  <h3 class="titles">Post a Comment </h3>
<table>
<tr>
  <td class="Labels">
   <%= f.label :email%>
  </td>
  <td>
   <%=f.text_field :email %>
  </td>
</tr>
<tr>
  <td class="Labels">
   <%= f.label :body %>
  </td>
  <td>
  </td>
</tr>
<tr>
  <td colspan=2>
   <%= f.text_area :body, :rows =>6%>   
  </td>
</tr>
</table>
 <%=f.submit "post comment"%>
<%end%>
