<br />
<p>
    <%= f.label :title %>
    <br />
    <%= f.text_field :title %>
  </p>
  <br />
  <p>
    <%= f.label :body %>
    <br />
    <%= f.text_area :body %>
  </p>
  <br />
  <p>	
    <%= f.label :author_id %>
    <%= collection_select(:article, :author_id, Author.all, :id, :full_name) %>
  </p>
  <br />
  <p>
    <%= f.label :status %>
    <%= select :article, :status, Article.statuses %>
  </p>
  <br />
    <%= f.hidden_field :date_posted, :value=> "#{DateTime.now().strftime("%Y%m%d%H%M%S")}" %>
