<div>
  <h2 class='blog-title'><%= @article.title%> </h2>
  <div class='blog-body'>
    <%=@article.body%>
  </div>
  <hr>
  <br>
  <p>Comments: </p>
  <div class='blog-comments'>
    <% @article.comments.each do |comment|%>
	<%=commentbody(comment)%>
      <%end%>
    <%= render :partial => 'comments/form', :locals => {:comment => @comment, :article =>@article} %>
  </div>

<br>
<%=link_to "back to author index", authors_path%><br>
<%=link_to "back to article index", articles_path%> <br>
<%=link_to "delete", @article, :confirm => "Confirm delete? \"#{@article.title}\"", :method => :delete%><br>
<%=link_to "print me", print_article_path(@article) %> <br>
</div>
