  <p>
    <%= f.label :last_name%>
    <br />
    <%= f.text_field :last_name%>
  </p>
  <p>
    <%= f.label :first_name%>
    <br />
    <%= f.text_field :first_name%>
  </p>
  <p>
    <%= f.label :birthday%>
    <br />
    <%= f.text_field :birthday%>
  </p>
