<h3 class="titles">Author </h3>
<p><%= say_hello(@author) %></p>
<hr />
<table>
<tr>
  <td class="Labels">Lastname</td>
  <td class="Labels">Firstname</td>
  <td class="Labels">Birthday</td>
</tr>

<tr>
  <td class="Labels"><%= @author.last_name %></td>
  <td class="Labels"><%= @author.first_name %></td>
  <td class="Labels"><%= @author.birthday.strftime("%b %d, %Y") %></td>
</tr>
</table>
<hr />
<table>
<%= author_actions(@author, "show") %>
</table>
